#messagesBlock {
	position:fixed;
	_position:absolute;
	left: 0px;
	top: 0px;
	_top:expression(eval(document.body.scrollTop));
	margin:0;
  	padding:0;
	width:100%;
	height:100%;
	z-index:90;
	visibility: hidden;
	display: none;
	background-color: #000000;
	filter: alpha(opacity=70);
	-moz-opacity: .70;
	opacity: .70;
}
#messagesLoading {
	position:fixed;
	_position:absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index:100;
	visibility: hidden;
	display: none;
}
.formularioMessagesBlock{
	background: #E7E7E7;
	border: 1px solid #CFCFCF;
}
#loader_header{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	margin:0;
	padding:5px 15px;
	background:#DFDFDF url(../images/box-header-bg.png) repeat-x;
}
.loader_contenedor{
	background: url(../images/box-content-bg.png) repeat-x;
}
#loader_info{
	width: 100%;
	text-align: center;
	color: #cc0000;
	font-weight: bold;
}
#loader_info .txt{
	display: block;
	padding: 20px;
}
#publicidadB{
	visibility: hidden;
	display: none;
}