body {
    color: #656565;
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
	background-color: #E5E2E1;
	margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
	}
a {
	color:#08A5E1;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	text-decoration:Underline;
}
img{border:0px;}
h3{ color: #08A5E1;}
textarea {
	border:1px solid #ccc;
	max-width: 225px;
	width: 225px;
	max-height: 130px;
	height: 130px;
	height: 130px !important;
	    color: #656565;
    font-family: Arial,sans-serif;
	font-size:11px;
	}
#inp_r{
	font-size: 10px;
	color: #999;
	line-height: 1;
}
#puntos{
	font-size: 11px;}
input {
	border:1px solid #ccc;
    color: #656565;
    font-family: Arial,sans-serif;
	font-size:11px;
	}

	label {
	font-weight:bold;
	}
ul {
    margin: 0px;
     padding-left: 16px;
}
 
.section {
	background: repeat-x scroll 0 0 transparent url("/images/background.gif") ;

		}
.header {
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    text-align: left;
    width: 960px;
	}
.headers {
    height: 145px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    text-align: left;
    width: 960px;
	}

.topMenuContainer{
    display: block;
    float: right;
    width: 375px;
	/*margin-top: 25px;*/
}
.headerimage{
	float: left;
    width: 250px;}
.topMenuLinks{
    float: right;
    margin-right: 105px;
    margin-top: -47px;
    width: 82px;
}
.topMenutext{
}
.loginto{
	float: right; 
	margin-right: 15px;
	vertical-align: middle;
}

/*  estilos del contenido interno */
.container {
	margin: auto;
    overflow: hidden;
    width: 960px;
	min-height:100%;
    height: auto!important;
    height:100%;
    
	}

.a_envio { 
	margin:10px;
	width:260px;
	background-color:#fff;
	display: inline;
    float: left;
	height: 390px;
	border-radius: 10px 10px 10px 10px;
	behavior:url(/script/PIE.htc);
}
.envio_i{
	margin:10px;
}
.b_envio { 
	margin:10px;
	height: 390px;
	width:440px;
	background-color:#fff;
	display: inline;
    float: left;
	overflow:auto;
	border-radius: 10px 10px 10px 10px;
        behavior:url(/script/PIE.htc);

}
.c_envio {
	margin:10px;
	width:200px;
	background-color:#fff;
	display: inline;
    float: left;
	height: 390px;
	border-radius: 10px 10px 10px 10px;	
	behavior:url(/script/PIE.htc);

 }
.d_envio {
    margin: 10px;
    width: 720px;
	background-color:#fff;
	display: inline;
    float: left;
	overflow:auto;
	height: 390px;
    border-radius: 10px 10px 10px 10px;	
    	behavior:url(/script/PIE.htc);

	}
.e_envio{
    margin: 10px;
    width: 350px;
	background-color:#fff;
	display: inline;
    float: left;
	overflow:auto;
	height: 390px;
	border-radius: 10px 10px 10px 10px;
}
.f_envio{
    margin: 10px;
    width: 560px;
	background-color:#fff;
	display: inline;
    float: left;
	overflow:auto;
	height: 390px;
    border-radius: 10px 10px 10px 10px;
}
ul.special{
    list-style: none outside none;
    margin-top: 10px;
	margin-left: 20px;
	}
.special li{
    list-style-image: url("../images/bullet.jpg") !important;
    margin: 0px !important;
    margin: 0px;
    padding: 0px;
}
.footer {
    height: 50px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    width: 960px;
}
.footer ul li, .header ul li{
	border-right: 1px solid #CCCCCC;
    display: inline;
    list-style: none outside none;
   margin: 0 0 0 -4px;
    padding: 0 16px !important;
	
}
/*************************************************************/
/*																									
/*	cufon titulos										
/*																									
/************************************************************/

h1.title, h1 {
	padding:0px;
	color:#08A5E1;
	font-size:30px;
}

h1.title a, h1 a {
	color:#08A5E1;
	font-weight:normal;
	
}

h2.title, h2 {
	padding:0px;
	color:#333333;
	font-size:20px;
	/*line-height:20px;*/
	font-weight:bold;
}

h2.title a, h2 a {
	color:#08A5E1;
	font-weight:normal;
}

h3.title , h3{
	padding:0px;
	color:#08A5E1;
	font-size:16px;
	font-weight:normal;
	 margin-bottom: 0;
    margin-top: 5px;
}

h3.title a, h3 a {
	color:#333333;
	font-weight:normal;
}

h4.title, h4 {
	padding:0px;
	color:#333333;
	font-size:17px;
	line-height:25px;
	font-weight:bold;
}

h4.title a, h4 a {
	color:#333333;
}


h5.title, h5, .cufon {
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	padding:0px;
}

h5.title a, h5 a {
	color:#333333;
	border-bottom:1px solid #08A5E1;
}
.cufonblue {
	font-size:15px;
	font-weight:bold;
	color:#08A5E1;
}
.cufow, .cufow a {
	font-size:15px;
	font-weight:bold;
	color:#ffffff;
}

h6.title, h6 {
	font-size:12px;
	font-weight:bold;
	color:#333333;
}



h6.title a, h6 a {
	font-size:12px;
	font-weight:bold;
	color:#333333;
}


/************ shoutbox ****************/
.content ul {
	list-style: none outside none;
	padding-left: 0;
	font-size: 11px;
	line-height: 2;
}
.content ul li img {
	margin-right:5px;
	margin-left:5px;
}
.txt_a{
    color: #999999;
    font-size: 11px;
    width: 65px;
	height: 18px;
}
.txt_b{
    color: #999999;
    font-size: 11px;
    width: 139px;
	height: 18px;
}
.txt_c{
    color: #999999;
    font-size: 11px;
    width: 80px;
	height: 18px;
}

/* **** Botones ***** */
a.ovalbutton{
    background: transparent url('../images/oval-blue-left.gif') no-repeat top left;
    display: block;
    float: left;
    font: normal 13px Arial, Helvetica, sans-serif; /* Change 13px as desired */
    line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
    height: 24px; /* Height of button background height */
    padding-left: 11px; /* Width of left menu image */
    text-decoration: none;
    font-weight:bold;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
    color: #ffffff; /*button text color*/
}

a.ovalbutton span{
    background: transparent url('../images/oval-blue-right.gif') no-repeat top right;
    display: block;
    padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
}

a.ovalbutton:hover span{ /* Hover state CSS */
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
    overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
    width: 100%;
}

.fonto{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16;
}

.fontError{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13;
    color:#fff;
    font-weight:bold;
}

.fontButton{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13;
    color:#ffffff;
}

#send, .send{
  	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url('../images/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	padding:4px 5px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	display:inline;
	color:#ffffff;
}

#send::-moz-focus-inner {
padding:0;
border:0;
}
#send:hover, #send:focus, .send:hover, .send:focus {
	background-position:0 -5px;
	cursor:pointer;
}

.counter{
    font-size:10px;
    font-family:arial;
    border:0px;
    color: #4D4D4D;
    width:25px;
    background: transparent;
} 
/*** *************tabs de colores****/
.tab_container {
	padding-top:5px;
	border-top: none;
/*	overflow: hidden;
	clear: both;*/
	float: left; width:  100%;
	background: #fff;
}

.full-tab-container {
	width: 100%;
	float:left;
	display:block;
	overflow:hidden;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 34px; /*--Set height of tabs--*/
	border-bottom: 2px solid #E9E9E9;
	border-left: 2px solid #FFFFFF;
	width:  100%;
	padding-left:5px;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: url('../images/right-tab.jpg') no-repeat right top;
	margin-top:3px;
	margin-left:2px;
}

ul.tabs li a {
	text-decoration: none;
	color: #08A5E1;
	display: block;
	font-size: 16px;
	padding: 0 20px;
	outline: none;
}

ul.tabs li span.left-tab {
	display:block;
	height:31px;
	width:12px;
	background: url('../images/left-tab.jpg') no-repeat left top;
	float:left;
}

ul.tabs li.active-off {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: url('../images/right-tab.jpg') no-repeat right top;
	margin-top:3px;
	margin-left:2px;
}

ul.tabs li.active-off a {
	text-decoration: none;
	color: #08A5E1;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
}

ul.tabs li.active-off span.left-tab {
	display:block;
	height:31px;
	width:12px;
	background: url('../images/left-tab.jpg') no-repeat left top;
	float:left;
}


html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: url('../images/right-tab-active.jpg') no-repeat right top;
	color:#FFFFFF;
}

ul.tabs li.active  {
	color:#FFFFFF;
	display:block;
	height:34px;
	line-height: 34px;
	background: url('../images/right-tab-active.jpg') no-repeat right top;
	float:left;
	margin-top:0px;
	color:#08A5E1;
}

ul.tabs li.active  a {
	color:#FFFFFF;
}

ul.tabs li.active span.left-tab {
	display:block;
	height:34px;
	width:12px;
	background: url('../images/left-tab-active.jpg') no-repeat left top;
	float:left;:3
}

/************************************************************/
/*																									
/*	-Toggle Component Style															
/*																									
/************************************************************/

.toggleList_container {

}

ol.jtoggle-list {

}

ol.jtoggle-list li {
	border-bottom:1px dashed #E9E9E9;
	padding:13px 0;
    list-style-image: url("../images/bullet.jpg") !important;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 !important;
}

ol.jtoggle-list li a {
	font-size:14px;
	font-weight:bold;
	line-height:1.3;
}

ol.jtoggle-list li a:hover {
	text-decoration:underline;
}
li .section {
    background: none repeat-x scroll 0 0 transparent;
}

ol.jtoggle-list li p {
	margin-top:12px;
	font-size:11px;
	line-height:1.3;
	padding-left:13px;
	background:transparent url('../images/faq-close.png') no-repeat top left ;
}

ol.jtoggle-list li p a {
	font-weight:normal;
	font-size:12px;	
}

ol.jtoggle-list li p a:hover {
	text-decoration:underline;
}
.messageboxerror{
	color:#08A5E1;
	font-weight:bold;
	text-decoration:none;
}


/***********************************Enviados***********************************/
.paginacion {
    height: 275px;
    overflow: auto;
    width: 420px;
}
.paginacion ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.paginacion ul li{
	list-style: none outside none;
    margin: 0;
    padding: 0;
}
.paginacion ul li strong{color:#08A5E1;}
.paginacion ul img{
	padding-left:5px;
	padding-right:5px;}
	
/*Styles for zebra table*/

.table_zebra {
    border:1px solid #E2EAF5;
}

.table_zebra_n {
    border-left:1px solid #E2EAF5;
    border-right:1px solid #E2EAF5;
    }

.table_zebra_title {
    font-size:12px;
}

.table_zebra_title td {
    BACKGROUND-COLOR: #E2EAF5;
    font-weight:bold;   
    padding:6px;
    width:33%;
}

.table_zebra_tab_title {
    font-size:11px;
}

.table_zebra_tab_title td {
    BACKGROUND-COLOR: #D8E3F1;
    font-weight:bold;   
    padding:5px;
    border-bottom:3px solid #FFFFFF;
    width:33%;
}

.table_zebra_oddColor {
    font-size:11px;
    vertical-align:top;
	text-align: center;
}

.table_zebra_oddColor  td{
    BACKGROUND-COLOR: #F3F5F7;
    border-top:1px solid #E2EAF5;
    padding:5px;
    width:33%;
}

.table_zebra_withe{
    vertical-align:top;
	 font-size:11px;
	 text-align: center;
}

.table_zebra_withe ul, .table_zebra_withe ol, .table_zebra_oddColor ul, .table_zebra_oddColor  ol{
    margin-bottom:3px;
    margin-top:3px;
}

.table_zebra_withe ul li, .table_zebra_oddColor ul li {
    list-style-type:none;
    list-style:url('../images/dot_hor.gif')!important;
    list-style:url('../images/dot_ie.gif');
}

.table_zebra_withe td{
    border-top:1px solid #E2EAF5;
    BACKGROUND-COLOR:#FFFFFF;
    padding:5px;
}
