/* ----- Main Body ----- */

body, html {
	background-color: #e6d5c1;
	background-image: url(../../../resources/template/background.gif);
	background-repeat: repeat-x;
}

body {
	font-family: sans-serif;
	color: #000000;
	font-size: 10pt;
}


/* ----- Page General Styles ----- */

/*
p, li, dt {
	font-size: 77%;
}
*/

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/* Link */

a {
	color: #e2007a;
	text-decoration: none;
}

a:hover {
	color: #950052;
	text-decoration: underline;
}


/* ----- Template ----- */

.clear {
	clear: both;
}

.wrapper {
	width: 915px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper .middle {
	background-image: url(../../../resources/template/middle.png);
	background-repeat: repeat-y;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
}

.wrapper .header {
	background-image: url(../../../resources/template/header.png);
	height: 107px;
	position: relative;
}

.wrapper .footer {
	background-image: url(../../../resources/template/footer.png);
	height: 23px;
}

.wrapper .footer_extra_left {
	float: left;
	color: #a29483;
	font-size: 8pt;
	margin-left: 20px;
}

.wrapper .footer_extra_right {
	float: right;
	color: #a29483;
	font-size: 8pt;
	margin-right: 20px;
}

/* Header */

.wrapper .header .logotagline {
	height: 70px;
}

.wrapper .header .logotagline .logo {
	width: 165px;
	height: 54px;
	position: absolute;
	top: 8px;
	left: 24px;
	display: block;
}

.wrapper .header .logotagline .logo span {
	display: none;
}

.wrapper .header .logotagline .tagline {
	width: 373px;
	height: 17px;
	position: absolute;
	right: 38px;
	top: 28px;
	color: #ffffff;
	font-size: 14pt;
	text-align: left;
}

.wrapper .header .logotagline .tagline span {
	display: none;
}

/* Navigation */

.wrapper .header .navigation {
	height: 37px;
	padding-left: 29px;
}

.wrapper .header .navigation ul li {
	display: inline;
	padding-right: 20px;
}

.wrapper .header .navigation a {
	color: #ffffff;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: "Tahoma", "Geneva", sans-serif;
	line-height: 34px;
}

.wrapper .header .navigation a:hover, .wrapper .header .navigation a.current {
	color: #000000;
}

/* Middle */

.mainpanel {
	width: 585px; /*592-7*/
	float: left;
	padding-right: 7px;
}

.wrapper .middle .sidepanel {
	float: right;
}

/* Main Content */

.maincontent h1 {
	color: #e2007a;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.maincontent h2 {
	color: #e2007a;
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.maincontent p {
	margin-bottom: 1em;
}

.maincontent .last {
	margin-bottom: 0;
}

.mainpanel .breadcrumbs {
	color: #ada29e;
	margin-bottom: 5px;
	height: 16px;
}

.mainpanel .breadcrumbs a {
	color: #ada29e;
}

.mainpanel .breadcrumbs a:hover {
	color: #e2007a;
	text-decoration: underline;
}

/* Standard Definition List */

.maincontent dl.standardfaq dt {
	font-weight: bold;
	margin-bottom: 10px;
	/*color: #eb7112;*/
	color: #e2007a;
	font-size: 11pt;
}

.maincontent dl.standardfaq dd {
	margin-bottom: 20px;
}

/* Ordered List */

.maincontent ol {
	margin-bottom: 1.5em;
}

.maincontent ol li {
	margin-bottom: 0.8em;
	margin-left: 3em;
	list-style-type: decimal;
}

/* Unordered List */

.maincontent ul {
	margin-bottom: 1.5em;
}

.maincontent ul li {
	margin-bottom: 0.8em;
	padding-left: 5px;
	margin-left: 30px;
	line-height: 1.2em;
	list-style-type: square;
}

/* Right Panel */

.sidepanel {
	float: right;
	width: 293px;
}

/* Search */

.sidepanel .postcode_search {
	background-image: url(../../../resources/template/sidepanel/postcode_search/background.gif);
	width: 293px;
	height: 165px;
	position: relative;
	margin-bottom: 7px;
}

.sidepanel .postcode_search h2 {
	position: absolute;
	top: 16px;
	left: 34px;
	color: #e2007a;
	font-size: 20pt;
	font-weight: bold;
	margin-bottom: 0;
}

.sidepanel .postcode_search .go {
	position: absolute;
	top: 65px;
	right: 30px;
}

.sidepanel .postcode_search .info {
	position: absolute;
	bottom: 10px;
	padding-left: 35px;
	padding-right: 30px;
	color: #a69e94;
	font-size: 9pt;
}

.sidepanel .postcode_search .label {
	position: absolute;
	top: 67px;
	left: 35px;
	font-size: 11pt;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
}

.sidepanel .postcode_search .label span {
	visibility: hidden;
}

.sidepanel .postcode_search .postcodebox {
	position: absolute;
	top: 74px;
	left: 87px;
	font-size: 16pt;
	width: 134px;
	height: 25px;
	line-height: 20px;
	border-width: 0;
	/*text-align: center;*/
}

/* Order Process */

.sidepanel .order_process {
	background-image: url(../../../resources/template/sidepanel/order_process.gif);
	height: 157px;
}

.sidepanel .order_process .info {
	padding: 10px;
}

.sidepanel .order_process .numbers {
	background-image: url(../../../resources/template/sidepanel/order_process.gif);
	float: left;
	height: 103px;
	display: block;
}

.sidepanel .order_process h2 {
	color: #000000;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 0;
}

.sidepanel .order_process h2 .larger {
	font-size: 20pt;
	color: #e2007a;
}

.sidepanel .order_process .process_list {
	margin-bottom: 0;
}

.sidepanel .order_process .process_list li {
	margin-bottom: 0;
	margin-left: 1.4em;
	list-style-type: decimal;
	color: #e2007a;
	font-size: 18pt;
	font-weight: bold;
	margin-top: -3px;
}

.sidepanel .order_process .process_list li span {
	font-size: 13pt;
	color: #000000;
	font-weight: bold;
}

/* Popular Takeaways */

.sidepanel .popular_takeaways {
	background-image: url(../../../resources/template/sidepanel/popular_takeaways.gif);
	margin-top: 8px;
	height: 92px;
}

.sidepanel .popular_takeaways .info {
	padding: 10px;
}

.sidepanel .popular_takeaways .info h2 {
	/*color: #e2007a;*/
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.sidepanel .popular_takeaways ol li {
	list-style-type: none;
	line-height: 1.2em;
	padding-left: 0;
	margin-left: 0;
}

/* Restaurant Opening Times */

.sidepanel .restaurant_open_times {
	background-image: url(../../../resources/template/sidepanel/opening_times.gif);
	width: 293px;
	height: 170px;
	margin-bottom: 7px;
}

.sidepanel .restaurant_open_times .content {
	padding: 7px;
}

.sidepanel .restaurant_open_times h2 {
	color: #e2007a;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 5px;
	float: left;
	width: 152px;
	padding-left: 8px;
}

.sidepanel .restaurant_open_times .delivery_area {
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	float: right;
	width: 118px;
	text-align: right;
}

.sidepanel .restaurant_open_times .area {
	color: #e2007a;
}

.sidepanel .restaurant_open_times .day {
	font-size: 10pt;
	padding: 1px;
}

.sidepanel .restaurant_open_times .dayname {
	color: #e2007a;
	width: 80px;
	float: left;
	padding-left: 7px;
}

.sidepanel .restaurant_open_times .time {
	color: #000000;
	width: 160px;
	float: right;
	font-size: 9pt;
}

.sidepanel .restaurant_open_times .day-a {
	background-color: #f2eadf;
}

/* Menu Basket */

.sidepanel .menu_basket {
	/*position: fixed;*/
	top: 200px;
	width: 293px;
}

.sidepanel .menu_basket {
	width: 293px;
	color: #ffffff;
	background-image: url(../../../resources/takeaway_menu/order/middle.gif);
	background-repeat: repeat-y;
}

.sidepanel .menu_basket .menu_basket-top {
	background-image: url(../../../resources/takeaway_menu/order/top.gif);
	background-position: top center;
	background-repeat: no-repeat;
}

.sidepanel .menu_basket .menu_basket-bottom {
	background-image: url(../../../resources/takeaway_menu/order/bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.sidepanel .menu_basket .content {
	padding: 7px;
}

.sidepanel .menu_basket h2 {
	color: #ffffff;
	font-weight: bold;
	font-size: 11pt;
	margin-left: 7px;
	margin-bottom: 7px;
}

.sidepanel .menu_basket .basket .submit_order {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 141px;
	margin-bottom: 2px;
}

/* Menu Basket - Item */

.sidepanel .menu_basket .basket .noitems {
	text-align: center;
	line-height: 100px;
}

.sidepanel .menu_basket .item-min_order {
	color: #9e9e9e;
	font-style: italic;
}

.sidepanel .menu_basket .basket .item {
	padding-top: 2px;
	padding-bottom: 2px;
}

.sidepanel .menu_basket .basket .item-a {
	background-color: #666666;
}

.sidepanel .menu_basket .basket .name {
	width: 160px;
	float: left;
	padding-left: 7px;
}

.sidepanel .menu_basket .basket .name-total {
	color: #e2007a;
	font-weight: bold;
}

.sidepanel .menu_basket .basket .price {
	width: 50px;
	float: left;
	text-align: right;
	margin-right: 10px;
}

.sidepanel .menu_basket .basket .price-total {
	color: #e2007a;
	font-weight: bold;
}

.sidepanel .menu_basket .basket .removebtn {
	width: 10px;
	float: left;
	padding-top: 3px;
}

.sidepanel .menu_basket .basket .removebtn img {
	display: block;
}

.sidepanel .menu_basket .basket .qty {
	width: 25px;
	float: left;
	text-align: center;
}

.sidepanel .menu_basket .basket .addbtn {
	width: 10px;
	float: left;
	padding-top: 3px;
}

.sidepanel .menu_basket .basket .addbtn img {
	display: block;
}

.sidepanel .menu_basket .basket .basket_generated {
	margin-bottom: 10px;
}

/* Menu Basket - Extra Item */

.sidepanel .menu_basket .basket .extra_items {
	margin-bottom: 10px;
}

.sidepanel .menu_basket .basket .extra_items .switch_handling {
	font-size: 8pt;
}

.sidepanel .menu_basket .basket .extra_items .switch_handling a {
	color: #ffffff;
}

.sidepanel .menu_basket .basket .callfororder {
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}

/* Standard Form */

.errorcontainer {
	margin-bottom: 5px;
}

.errorcontainer .errormsg {
	margin-bottom: 2px;
	font-size: 8pt;
	background-color: #ff0000;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #e2007a;
	padding: 4px;
}

.errorcontainer .errormsg a {
	color: #ffffff;
	text-decoration: underline;
}

/*
.standardform .group .fieldtitle {
	font-weight: bold;
	color: #e2007a;
	display: block;
}

.standardform .group {
	margin-bottom: 10px;
}
*/

.standardform .group {
	margin-bottom: 10px;
}

.standardform .group .fieldtitle {
	font-weight: bold;
	color: #e2007a;
	display: block;
	width: 100px;
	float: left;
}

.standardform .group .fieldinput {
	width: 300px;
	float: left;
}

.standardform .group .fieldinput .inputtxt, .standardform .group .fieldinput .inputtxtarea {
	width: 150px;
}

.standardform .group .fieldinput .inputtxtarea {
	height: 60px;
}

.standardform .group .fieldinput .inputtxt-postcode {
	width: 70px;
}

.standardform .autologin {
	margin-left: 100px;
	font-weight: bold;
	color: #e2007a;
}


/* ----- Home Page ----- */

.page-home .mainpanel .breadcrumbs {
	height: 0;
	margin-bottom: 0;
}

.page-home .photoimg {
	height: 163px; /* Should be 165px heigh */
	margin-bottom: 9px; /* Should be 7px */
}

.page-home .photoimg img {
	display: block;
}

.page-home .photoimg #photoimg_b {
	margin-top: -163px;
}

/* About Us */

.page-home .about_us {
	float: left;
	width: 289px;
	height: 157px;
	background-image: url(../../../resources/home/about_us.jpg);
	position: relative;
}

.page-home .about_us .info {
	margin-left: 90px;
	padding: 10px;
	padding-left: 0;
	color: #4d4d4d;
	text-align: justify;
	font-size: 9pt;
}

.page-home .about_us .info h2 {
	color: #e2007a;
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.page-home .about_us .readmore {
	bottom: 20px;
	color: #4d4d4d;
	font-size: 9pt;
	font-weight: bold;
	position: absolute;
	bottom: 8px;
}

.page-home .about_us a.readmore:hover {
	color: #212121;
}

/* Latest Takeaway Listings */

.page-home .lastest_takeaways {
	float: left;
	width: 289px;
	height: 157px;
	background-image: url(../../../resources/home/latest_listings.gif);
	margin-left: 7px;
	position: relative;
}

.page-home .lastest_takeaways .info {
	padding: 10px;
	color: #4d4d4d;
	text-align: justify;
	font-size: 9pt;
}

.page-home .lastest_takeaways .info h2 {
	color: #e2007a;
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.page-home .lastest_takeaways .readmore {
	bottom: 20px;
	color: #4d4d4d;
	font-size: 9pt;
	font-weight: bold;
	position: absolute;
	bottom: 8px;
}

.page-home .lastest_takeaways a.readmore:hover {
	color: #212121;
}

.page-home .lastest_takeaways ul li {
	list-style-type: none;
	line-height: 1em;
	padding-left: 0;
	margin-left: 0;
}

/* Restaurants Area List */

.page-home .area_infobox {
	background-image: url(../../../resources/home/area_infobox/middle.gif);
	background-repeat: repeat-y;
	width: 885px;
	margin-top: 7px;
}

.page-home .area_infobox-top {
	background-image: url(../../../resources/home/area_infobox/top.gif);
	background-position: top center;
	background-repeat: no-repeat;
}

.page-home .area_infobox-bottom {
	background-image: url(../../../resources/home/area_infobox/bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.page-home .area_infobox .content {
	padding: 10px;
}

.page-home .area_infobox a {
	color: #000000;
	font-weight: bold;
}

.page-home .area_infobox a:hover {
	color: #e2007a;
}

.page-home .area_infobox .content {
	padding-bottom: 5px;
}
.page-home .area_infobox .content .info {
	color: #000000;
	font-weight: bold;
	margin-bottom: 5px;
}

.page-home .area_infobox .area_list ul {
	margin-bottom: 0;
}

.page-home .area_infobox .area_list li {
	width: 134px;
	float: left;
	margin-bottom: 0;
	padding-bottom: 5px;
	margin-left: 0;
	list-style-type: none;
	border-right: 1px solid #f0f0f0;
	font-size: 8pt;
}

.page-home .area_infobox .area_list .rowend {
	border-right-width: 0;
}

.page-home .area_infobox .area_list li a {
	padding-left: 10px;
}

.page-home .area_infobox .area_list li a:hover {
	text-decoration: underline;
}

.page-home .area_infobox .area_list li .number {
	color: #000000;
}


/* ----- Contact Us Page ----- */




/* ----- Takeaway Order Page ----- */

.page-takeaway_order .form .errorcontainer {
	margin-bottom: 10px;
}

/*
.page-takeaway_order .form .errormsg {
	margin-bottom: 2px;
	font-size: 8pt;
	background-color: #e2007a;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #e2007a;
	padding: 4px;
}
*/

/*
.page-takeaway_order .form .group {
	margin-bottom: 10px;
}

.page-takeaway_order .form .group .fieldtitle {
	font-weight: bold;
	color: #e2007a;
	display: block;
	width: 100px;
	float: left;
}

.page-takeaway_order .form .group .fieldinput {
	width: 300px;
	float: left;
}

.page-takeaway_order .form .group .fieldinput .inputtxt, .page-takeaway_order .form .group .fieldinput .inputtxtarea {
	width: 150px;
}

.page-takeaway_order .form .group .fieldinput .inputtxtarea {
	height: 60px;
}

.page-takeaway_order .form .group .fieldinput .inputtxt-postcode {
	width: 70px;
}
*/

.page-takeaway_order .standardform .group .fieldinput-savedetails {
	margin-left: 100px;
	color: #e2007a;
	font-weight: bold;
	font-size: 8pt;
}

.page-takeaway_order .line {
	border-bottom: 1px dashed #000000;
	margin-top: 15px;
	margin-bottom: 10px;
}


/* ----- Takeaway Listing Page ----- */

/* Info Box */

.page-takeaway_listing .infobox {
	background-image: url(../../../resources/takeaway_listing/infobox/middle.gif);
	background-repeat: repeat-y;
	width: 585px;
	margin-bottom: 7px;
}

.page-takeaway_listing .infobox-top {
	background-image: url(../../../resources/takeaway_listing/infobox/top.gif);
	background-position: top center;
	background-repeat: no-repeat;
}

.page-takeaway_listing .infobox-bottom {
	background-image: url(../../../resources/takeaway_listing/infobox/bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.page-takeaway_listing .infobox .content {
	padding: 10px;
}

.page-takeaway_listing .infobox a {
	color: #000000;
	font-weight: bold;
}

/* Restaurants Area List */

.page-takeaway_listing .infobox .content {
	padding-bottom: 5px;
}
.page-takeaway_listing .infobox .content .info {
	color: #000000;
	font-weight: bold;
	margin-bottom: 5px;
}

.page-takeaway_listing .infobox .area_list ul {
	margin-bottom: 0;
}

.page-takeaway_listing .infobox .area_list li {
	width: 134px;
	float: left;
	margin-bottom: 0;
	padding-bottom: 5px;
	margin-left: 0;
	list-style-type: none;
	border-right: 1px solid #ffffff;
	font-size: 8pt;
}

.page-takeaway_listing .infobox .area_list .rowend {
	border-right-width: 0;
}

.page-takeaway_listing .infobox .area_list li a {
	padding-left: 10px;
}

.page-takeaway_listing .infobox .area_list li a:hover {
	text-decoration: underline;
}

.page-takeaway_listing .infobox .area_list li .number {
	color: #000000;
}

/* Restaurant Details */

.page-takeaway_listing .restaurants_list {
	margin-bottom: 0;
}

.page-takeaway_listing .restaurants_list .restaurant {
	background-image: url(../../../resources/takeaway_listing/restaurant_background.gif);
	width: 289px;
	height: 97px;
	float: left;
	margin-bottom: 7px;

	padding-left: 0;
	margin-left: 0;
	line-height: 1em;
	list-style-type: none;
	display: block;
}

.page-takeaway_listing .restaurants_list .restaurant-a {
	margin-right: 7px;
}

.page-takeaway_listing .restaurants_list .restaurant .logo {
	display: block;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	width: 87px;
	height: 87px;
}

.page-takeaway_listing .restaurants_list .restaurant .info {
	margin-top: 5px;
	margin-right: 5px;
	float: right;
	width: 184px; /* 286-87-5-5-5*/
	font-size: 10pt;
}

.page-takeaway_listing .restaurants_list .restaurant .info h2 a {
	font-weight: bold;
}

.page-takeaway_listing .restaurants_list .restaurant .info h2 {
	margin-bottom: 6px;
	font-size: 10pt;
}

.page-takeaway_listing .restaurants_list .restaurant .info .address {
	height: 54px;
}

.page-takeaway_listing .restaurants_list .restaurant .info .status {
	font-weight: bold;
}

.page-takeaway_listing .restaurants_list .restaurant .info .status .open {
	color: #4d771e;
}

.page-takeaway_listing .restaurants_list .restaurant .info .status .close {
	color: #e2007a;
}


/* ----- Restaurant Menu Page -----*/

/*
.page-takeaway_menu .breadcrumbstitle {
	height: 70px;
}

.page-takeaway_menu .breadcrumbstitle h1 {
	margin-top: 15px;
}
*/

.page-takeaway_menu .mainpanel .breadcrumbs {
	height: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

.page-takeaway_menu h1 {
	height: 40px;
	margin-bottom: 0;
}

/* Restaurant Information */

.page-takeaway_menu .restaurant_info {
	background-image: url(../../../resources/takeaway_menu/restaurant_info.gif);
	height: 100px;
	width: 585px;
	margin-bottom: 7px;
	overflow: hidden;
}

.page-takeaway_menu .restaurant_info .content {
	padding: 7px;
}

.page-takeaway_menu .restaurant_info .logo {
	float: left;
	width: 87px;
	height: 87px;
	display: block;
}

.page-takeaway_menu .restaurant_info .info {
	width: 477px;
	float: left;
	margin-left: 7px;
	color: #6b5949;
	text-align: justify;
}

.page-takeaway_menu .restaurant_info .address {
	float: left;
	color: #e2007a;
}

.page-takeaway_menu .restaurant_info .status {
	float: right;
	font-weight: bold;
	color: #000000;
}

.page-takeaway_menu .restaurant_info .status .open {
	color: #4d771e;
}

.page-takeaway_menu .restaurant_info .status .close {
	color: #e2007a;
}

.page-takeaway_menu .restaurant_info .description {
	margin-top: 5px;
}

/* Menu */

.page-takeaway_menu .menu {
	background-image: url(../../../resources/takeaway_menu/menu/middle.gif);
	background-repeat: repeat-y;
	width: 585px;
	color: #ffffff;
}

.page-takeaway_menu .menu-top {
	background-image: url(../../../resources/takeaway_menu/menu/top.gif);
	background-position: top center;
	background-repeat: no-repeat;
}

.page-takeaway_menu .menu-bottom {
	background-image: url(../../../resources/takeaway_menu/menu/bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.page-takeaway_menu .menu .content {
	padding: 9px;
	padding-top: 12px;
}

.page-takeaway_menu .menu h2 {
	font-size: 20pt;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 6px;
	color: #ffffff;
}

.page-takeaway_menu .menu h3 {
	font-size: 14pt;
	font-weight: bold;
	color: #e2007a;
	margin-bottom: 5px;
	margin-left: 10px;
}

.page-takeaway_menu .menu_item_list {
	margin-bottom: 8px;
}

.page-takeaway_menu .menu_item_list .item {
	margin-bottom: 0;
	padding-left: 0;
	margin-left: 0;
	line-height: 1em;
	list-style-type: none;
}

.page-takeaway_menu .menu_item_list .item-a {
	background-color: #999999;
}

.page-takeaway_menu .menu_item_list .item {
	padding: 5px;
}

.page-takeaway_menu .menu_item_list .item .no {
	width: 20px;
	float: left;
	text-align: right;
	height: 20px;
}

.page-takeaway_menu .menu_item_list .item .namedesc {
	width: 300px;
	float: left;
	margin-left: 10px;
}

.page-takeaway_menu .menu_item_list .item .namedesc .desc {
	font-size: 8pt;
}

.page-takeaway_menu .menu_item_list .item .namedesc h4 {
	font-weight: bold;
	margin-bottom: 4px;
}

.page-takeaway_menu .menu_item_list .item .iteminfo {
	width: 100px;
	float: left;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem {
	width: 220px;
	float: left;
	margin-left: 10px;
	line-height: 1.4em;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem .subitem_name {
	width: 110px;
	float: left;
	min-height: 1px;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem .subitem_price {
	width: 50px;
	float: left;
	text-align: right;
	margin-left: 10px;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem .additem {
	width: 13px;
	float: right;
	padding-right: 5px;
	margin-top: 4px;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem .additem a, .page-takeaway_menu .menu_item_list .item .iteminfo .subitem .additem img {
	display: block;
}

/* Menu - Jump To Section */

.page-takeaway_menu .jump_to_section_container {
	margin-bottom: 10px;
}

.page-takeaway_menu .jump_to_section {
	background-image: url(../../../resources/takeaway_menu/jump_section/background.gif);
	background-repeat: repeat-y;
	width: 569px;
}

.page-takeaway_menu .jump_to_section-bottom {
	background-image: url(../../../resources/takeaway_menu/jump_section/bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.page-takeaway_menu .jump_to_section .content {
	padding: 7px;
	padding-top: 15px;
}

.page-takeaway_menu .jump_to_section .title {
	float: left;
	width: 145px;
	font-size: 12pt;
	font-weight: bold;
	color: #ffffff;
	height: 30px;
	padding-left: 5px;
}

.page-takeaway_menu .jump_to_section .sections_list {
	margin-bottom: 0;
	float: left;
	width: 400px;
	margin-top: 3px;
	margin-bottom: 10px;
	font-weight: bold;
}

.page-takeaway_menu .jump_to_section .sections_list li {
	margin-bottom: 0;
	padding-left: 0;
	margin-left: 0;
	line-height: 1em;
	list-style-type: none;
	display: inline;
}

.page-takeaway_menu .jump_to_section .sections_list li a:link {
	color: #ffffff;
}

.page-takeaway_menu .jump_to_section .sections_list li a:hover {
	color: #e2007a;
}