﻿body {
    color: #656565;
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
	background-color: #E5E2E1;
	margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
	}
a {
	color: #f38d08;
	text-decoration: none;
}

a:hover {
	color: #F38D08;
	text-decoration: underline;
}
img{border:0px;}
h3{ color: #08A5E1;}
textarea {
	border:1px solid #ccc;
	max-width: 225px;
	width: 225px;
	max-height: 130px;
	height: 130px;
	height: 130px !important;
	    color: #656565;
    font-family: Arial,sans-serif;
	font-size:11px;
	}
#inp_r{
	font-size: 10px;
	color: #999;
	line-height: 1;
}
#puntos{
	font-size: 11px;}
input {
	/*border:1px solid #ccc;*/
    color: #656565;
    font-family: Arial,sans-serif;
	font-size:11px;
	}

	label {
	font-weight:bold;
	}
ul {
    margin: 0px;
     padding-left: 16px;}

.section {
	background: repeat-x scroll 0 0 transparent url("/images/background.gif") ;

		}
.header {
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    text-align: left;
    width: 960px;
	}
.headers {
    height: 145px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    text-align: left;
    width: 960px;
	}
.topMenuContainer{
    display: block;
    float: right;
    width: 375px;
	/*margin-top: 25px;*/
}
.headerimage{
	float: left;
    width: 250px;}
.topMenuLinks{
    float: right;
    margin-right: 105px;
    margin-top: -47px;
    width: 82px;
}
.topMenutext{
}
.loginto{
	float: right; 
	margin-right: 15px;
	vertical-align: middle;
}

/*  estilos del contenido interno */
.container {
   border-radius: 15px;
   background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: none;
    margin: auto;
    min-height: 100%;
    overflow: hidden;
    width: 980px;
	   /* border: 1px dotted sandyBrown;*/
    behavior: url(/script/PIE.htc);	
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;	


}


.envio_i {
	margin:10px;
}

.c_envio { 
	margin:10px;
	width:310px;
	background-color:#fff;
	display: inline;
    float: left;
    border-radius: 10px;
	behavior: url(/script/PIE.htc);
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	/*height: 350px;*/
 
}
.d_envio{
    margin: 10px;
    width: 605px;
	background-color:#fff;
	display: inline;
    float: left;
	-moz-border-radius: 5px;
/*	height: 350px;*/
	}
.b_envio { 
	margin:10px;
	width:310px;
	background-color:#fff;
	display: inline;
    float: left;
    border-radius: 10px;
	behavior: url(/script/PIE.htc);
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	height: 600px;
 
}
.a_envio{
    margin: 10px;
    width: 618px;
	background-color:#fff;
	display: inline;
    float: left;
	
	-moz-border-radius: 5px;
	height: 600px;
	}
ul.special{
    list-style: none outside none;
    margin-top: 10px;
	margin-left: 20px;
	}
.special li{
    list-style-image: url("../images/bullet.jpg") !important;
    margin: 0px !important;
    margin: 0px;
    padding: 0px;
}
.footer {
    height: 50px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    width: 960px;
}
.footer ul li, .header ul li{
	border-right: 1px solid #CCCCCC;
    display: inline;
    list-style: none outside none;
   margin: 0 0 0 -4px;
    padding: 0 16px !important;
	
}
/*************************************************************/
/*																									
/*	cufon titulos										
/*																									
/************************************************************/

h1 {
	margin:0px;
	padding:0px;
	color:#56442D;
	font-size:30px;

}
.maincontent h1 {
	color: #af210a;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 0.5em;
}
.page-takeaway_menu h1 {
	height: 40px;
	margin-bottom: 0;
}
h1 a {
	color:#56442D;
	font-weight:normal;
	
}

 h2 {
	color: #af210a;
	font-size: 14pt;
	font-weight: bold;
	margin:0px;
	padding:0px;
}

h2 a {
	color:#08A5E1;
	font-weight:normal;
}
.sidepanel .menu_basket h2 {
	color: #ffffff;
	font-weight: bold;
	font-size: 11pt;
	margin-left: 7px;
	margin-bottom: 7px;
}


.maincontent h2 {
	color: #af210a;
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 0.5em;
}
.page-home .about_us .info h2 {
	color: #af210a;
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 10px;
}
.page-takeaway_listing .restaurants_list .restaurant .info h2 a {
	color: #af210a;
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.page-takeaway_listing .restaurants_list .restaurant .info h2 {
	margin-bottom: 6px;
}

.page-takeaway_menu .menu h2 {
	font-size: 20pt;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 6px;
	color: #ffffff;
}
.sidepanel .postcode_search h2 {
	position: absolute;
	top: 10px;
	left: 34px;
	color: #af210a;
	font-size: 20pt;
	font-weight: bold;
	margin-bottom: 0;
}
.sidepanel .order_process h2 {
	color: #000000;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 0;
}

.sidepanel .order_process h2 .larger {
	font-size: 20pt;
	color: #af210a;
}
.sidepanel .popular_takeaways .info h2 {
	/*color: #af210a;*/
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 10px;
}
.sidepanel .restaurant_open_times h2 {
	color: #af210a;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 5px;
	float: left;
	width: 152px;
	padding-left: 8px;
}
.page-takeaway_menu .menu h3 {
	font-size: 14pt;
	font-weight: bold;
	color: #ff940f;
	margin-bottom: 5px;
	margin-left: 10px;
}
 h3{
	padding:0px;
	color:#ff940f;
	font-size:20px;
	font-weight:normal;
	 margin-bottom: 0;
    margin-top: 5px;
}

 h3 a {
	color:#333333;
	font-weight:normal;
}

 h4 {
	padding:0px;
	color:#333333;
	font-size:17px;
	line-height:25px;
	font-weight:bold;
}
.page-takeaway_menu .menu_item_list .item .namedesc h4 {
	font-weight: bold;
	margin-bottom: 4px;
	margin:0px;
}
h4 a {
	color:#333333;
}


h5.title, h5{
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	padding:0px;
}
.cufon {
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	padding:0px;
}

h5.title a, h5 a {
	color:#333333;
	border-bottom:1px solid #08A5E1;
}
.cufonblue {
	font-size:15px;
	font-weight:bold;
	color:#08A5E1;
}
.cufow, .cufow a {
	font-size:15px;
	font-weight:bold;
	color:#ffffff;
}

h6.title, h6 {
	font-size:12px;
	font-weight:bold;
	color:#333333;
}



h6.title a, h6 a {
	font-size:12px;
	font-weight:bold;
	color:#333333;
}


/************ shoutbox ****************/
.content ul {
	list-style: none outside none;
	padding-left: 0;
	font-size: 11px;
	line-height: 2;
}
.content ul li img {
	margin-right:5px;
	margin-left:5px;
}
.txt_a{
    color: #999999;
    font-size: 11px;
    width: 65px;
	height: 18px;
}
.txt_b{
    color: #999999;
    font-size: 11px;
    width: 139px;
	height: 18px;
}
.txt_c{
    color: #999999;
    font-size: 11px;
    width: 80px;
	height: 18px;
}

/* **** Botones ***** */
a.ovalbutton{
    background: transparent url('../images/oval-blue-left.gif') no-repeat top left;
    display: block;
    float: left;
    font: normal 13px Arial, Helvetica, sans-serif; /* Change 13px as desired */
    line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
    height: 24px; /* Height of button background height */
    padding-left: 11px; /* Width of left menu image */
    text-decoration: none;
    font-weight:bold;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
    color: #ffffff; /*button text color*/
}

a.ovalbutton span{
    background: transparent url('../images/oval-blue-right.gif') no-repeat top right;
    display: block;
    padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
}

a.ovalbutton:hover span{ /* Hover state CSS */
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
    overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
    width: 100%;
}

.fonto{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16;
}

.fontError{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13;
    color:#fff;
    font-weight:bold;
}

.fontButton{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13;
    color:#ffffff;
}

#send, .send{
  	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#A43311 url('/images/bg-btn-o.png') repeat-x scroll 0 0;
	border:1px solid #A43311;
	padding:4px 5px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	display:inline;
	color:#ffffff;
}

#send::-moz-focus-inner {
padding:0;
border:0;
}
#send:hover, #send:focus, .send:hover, .send:focus {
	background-position:0 -5px;
	cursor:pointer;
}

.counter{
    font-size:10px;
    font-family:arial;
    border:0px;
    color: #4D4D4D;
    width:25px;
    background: transparent;
} 
/*** *************tabs de colores****/
.tab_container {
	padding-top:5px;
	border-top: none;
/*	overflow: hidden;
	clear: both;*/
	float: left; width:  100%;
	background: #fff;
}

.full-tab-container {
	width: 100%;
	float:left;
	display:block;
	overflow:hidden;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 34px; /*--Set height of tabs--*/
	border-bottom: 2px solid #E9E9E9;
	border-left: 2px solid #FFFFFF;
	width:  100%;
	padding-left:5px;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: url('../images/right-tab.jpg') no-repeat right top;
	margin-top:3px;
	margin-left:2px;
}

ul.tabs li a {
	text-decoration: none;
	color: #08A5E1;
	display: block;
	font-size: 16px;
	padding: 0 20px;
	outline: none;
}

ul.tabs li span.left-tab {
	display:block;
	height:31px;
	width:12px;
	background: url('../images/left-tab.jpg') no-repeat left top;
	float:left;
}

ul.tabs li.active-off {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: url('../images/right-tab.jpg') no-repeat right top;
	margin-top:3px;
	margin-left:2px;
}

ul.tabs li.active-off a {
	text-decoration: none;
	color: #08A5E1;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
}

ul.tabs li.active-off span.left-tab {
	display:block;
	height:31px;
	width:12px;
	background: url('../images/left-tab.jpg') no-repeat left top;
	float:left;
}


html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: url('../images/right-tab-active.jpg') no-repeat right top;
	color:#FFFFFF;
}

ul.tabs li.active  {
	color:#FFFFFF;
	display:block;
	height:34px;
	line-height: 34px;
	background: url('../images/right-tab-active.jpg') no-repeat right top;
	float:left;
	margin-top:0px;
	color:#08A5E1;
}

ul.tabs li.active  a {
	color:#FFFFFF;
}

ul.tabs li.active span.left-tab {
	display:block;
	height:34px;
	width:12px;
	background: url('../images/left-tab-active.jpg') no-repeat left top;
	float:left;:3
}

/************************************************************/
/*																									
/*	-Toggle Component Style															
/*																									
/************************************************************/

.toggleList_container {

}

ol.jtoggle-list {

}

ol.jtoggle-list li {
	border-bottom:1px dashed #E9E9E9;
	padding:13px 0;
    list-style-image: url("/images/obullet.jpg") !important;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 !important;
}

ol.jtoggle-list li a {
	font-size:14px;
	font-weight:bold;
	line-height:1.3;
}

ol.jtoggle-list li a:hover {
	text-decoration:underline;
}
li .section {
    background: none repeat scroll 0 0 transparent;
}

ol.jtoggle-list li p {
	margin-top:12px;
	font-size:11px;
	line-height:1.3;
	padding-left:13px;
	background:transparent url('../images/faq-close.png') no-repeat top left ;
}

ol.jtoggle-list li p a {
	font-weight:normal;
	font-size:12px;	
}

ol.jtoggle-list li p a:hover {
	text-decoration:underline;
}
.messageboxerror{
	color:#08A5E1;
	font-weight:bold;
	text-decoration:none;
}


/***********************************Enviados***********************************/
.paginacion {
    height: 275px;
    overflow: auto;
    width: 420px;
}
.paginacion ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.paginacion ul li{
	list-style: none outside none;
    margin: 0;
    padding: 0;
}
.paginacion ul li strong{color:#08A5E1;}
.paginacion ul img{
	padding-left:5px;
	padding-right:5px;}
	
/*Styles for zebra table*/

.table_zebra {
    border:1px solid #E2EAF5;
}

.table_zebra_n {
    border-left:1px solid #E2EAF5;
    border-right:1px solid #E2EAF5;
    }

.table_zebra_title {
    font-size:12px;
}

.table_zebra_title td {
    BACKGROUND-COLOR: #E2EAF5;
    font-weight:bold;   
    padding:6px;
    width:33%;
}

.table_zebra_tab_title {
    font-size:11px;
}

.table_zebra_tab_title td {
    BACKGROUND-COLOR: #D8E3F1;
    font-weight:bold;   
    padding:5px;
    border-bottom:3px solid #FFFFFF;
    width:33%;
}

.table_zebra_oddColor {
    font-size:11px;
    vertical-align:top;
	text-align: center;
}

.table_zebra_oddColor  td{
    BACKGROUND-COLOR: #F3F5F7;
    border-top:1px solid #E2EAF5;
    padding:5px;
    width:33%;
}

.table_zebra_withe{
    vertical-align:top;
	 font-size:11px;
	 text-align: center;
}

.table_zebra_withe ul, .table_zebra_withe ol, .table_zebra_oddColor ul, .table_zebra_oddColor  ol{
    margin-bottom:3px;
    margin-top:3px;
}

.table_zebra_withe ul li, .table_zebra_oddColor ul li {
    list-style-type:none;
    list-style:url('../images/dot_hor.gif')!important;
    list-style:url('../images/dot_ie.gif');
}

.table_zebra_withe td{
    border-top:1px solid #E2EAF5;
    BACKGROUND-COLOR:#FFFFFF;
    padding:5px;
}


/* ----- Home Page ----- */

.page-home .mainpanel .breadcrumbs {
	height: 0;
	margin-bottom: 0;
}

.page-home .photoimg {
	height: 163px; /* Should be 165px heigh */
	margin-bottom: 9px; /* Should be 7px */
}

.page-home .photoimg img {
	display: block;
}

.page-home .photoimg #photoimg_b {
	margin-top: -163px;
}

/* About Us */

.page-home .about_us {
	float: left;
	width: 289px;
	height: 157px;
	background-image: url(../../../resources/home/about_us.jpg);
	position: relative;
}

.page-home .about_us .info {
	margin-left: 90px;
	padding: 10px;
	padding-left: 0;
	color: #4d4d4d;
	text-align: justify;
	font-size: 9pt;
}


.page-home .about_us .readmore {
	bottom: 20px;
	color: #4d4d4d;
	font-size: 9pt;
	font-weight: bold;
	position: absolute;
	bottom: 8px;
}

.page-home .about_us a.readmore:hover {
	color: #212121;
}

/* Latest Takeaway Listings */

.page-home .lastest_takeaways {
	float: left;
	width: 289px;
	height: 157px;
	background-image: url(../../../resources/home/latest_listings.gif);
	margin-left: 7px;
	position: relative;
}

.page-home .lastest_takeaways .info {
	padding: 10px;
	color: #4d4d4d;
	text-align: justify;
	font-size: 9pt;
}


.page-home .lastest_takeaways .readmore {
	bottom: 20px;
	color: #4d4d4d;
	font-size: 9pt;
	font-weight: bold;
	position: absolute;
	bottom: 8px;
}

.page-home .lastest_takeaways a.readmore:hover {
	color: #212121;
}

.page-home .lastest_takeaways ul li {
	list-style-type: none;
	line-height: 1em;
	padding-left: 0;
	margin-left: 0;
}


/* ----- Contact Us Page ----- */




/* ----- Takeaway Order Page ----- */

.page-takeaway_order .form .errorcontainer {
	margin-bottom: 10px;
}

/*
.page-takeaway_order .form .errormsg {
	margin-bottom: 2px;
	font-size: 8pt;
	background-color: #af210a;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #af210a;
	padding: 4px;
}
*/

/*
.page-takeaway_order .form .group {
	margin-bottom: 10px;
}

.page-takeaway_order .form .group .fieldtitle {
	font-weight: bold;
	color: #af210a;
	display: block;
	width: 100px;
	float: left;
}

.page-takeaway_order .form .group .fieldinput {
	width: 300px;
	float: left;
}

.page-takeaway_order .form .group .fieldinput .inputtxt, .page-takeaway_order .form .group .fieldinput .inputtxtarea {
	width: 150px;
}

.page-takeaway_order .form .group .fieldinput .inputtxtarea {
	height: 60px;
}

.page-takeaway_order .form .group .fieldinput .inputtxt-postcode {
	width: 70px;
}
*/

.page-takeaway_order .standardform .group .fieldinput-savedetails {
	margin-left: 100px;
	color: #af210a;
	font-weight: bold;
	font-size: 8pt;
}

.page-takeaway_order .line {
	border-bottom: 1px dashed #000000;
	margin-top: 15px;
	margin-bottom: 10px;
}


/* ----- Takeaway Listing Page ----- */

/* Info Box */

.page-takeaway_listing .infobox {
	background-image: url(../../../resources/takeaway_listing/infobox/middle.gif);
	background-repeat: repeat-y;
	width: 585px;
	margin-bottom: 7px;
}

.page-takeaway_listing .infobox-top {
	background-image: url(../../../resources/takeaway_listing/infobox/top.gif);
	background-position: top center;
	background-repeat: no-repeat;
}

.page-takeaway_listing .infobox-bottom {
	background-image: url(../../../resources/takeaway_listing/infobox/bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.page-takeaway_listing .infobox .content {
	padding: 10px;
}

.page-takeaway_listing .infobox a {
	color: #ffffff;
	font-weight: bold;
}

/* Restaurants Area List */

.page-takeaway_listing .infobox .content {
	padding-bottom: 5px;
}
.page-takeaway_listing .infobox .content .info {
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 5px;
}

.page-takeaway_listing .infobox .area_list ul {
	margin-bottom: 0;
}

.page-takeaway_listing .infobox .area_list li {
	width: 134px;
	float: left;
	margin-bottom: 0;
	padding-bottom: 5px;
	margin-left: 0;
	list-style-type: none;
	border-right: 1px solid #c34d16;
}

.page-takeaway_listing .infobox .area_list .rowend {
	border-right-width: 0;
}

.page-takeaway_listing .infobox .area_list li a {
	padding-left: 10px;
}

.page-takeaway_listing .infobox .area_list li a:hover {
	text-decoration: underline;
}

.page-takeaway_listing .infobox .area_list li .number {
	color: #efefef;
}

/* Restaurant Details */

.page-takeaway_listing .restaurants_list {
	margin: 0;
	padding: 0;
}

.page-takeaway_listing .restaurants_list .restaurant {
	background-image: url(../../../resources/takeaway_listing/restaurant_background.gif);
	width: 289px;
	height: 110px;
	float: left;
	margin-bottom: 7px;

	padding-left: 0;
	margin-left: 0;
	line-height: 1em;
	list-style-type: none;
	display: block;
}

.page-takeaway_listing .restaurants_list .restaurant-a {
	margin-right: 7px;
}

.page-takeaway_listing .restaurants_list .restaurant .logo {
	display: block;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	width: 87px;
	height: 87px;
}

.page-takeaway_listing .restaurants_list .restaurant .info {
	margin-top: 5px;
	margin-right: 5px;
	float: right;
	width: 184px; /* 286-87-5-5-5*/
	font-size: 10pt;
}


.page-takeaway_listing .restaurants_list .restaurant .info .address {
	height: 54px;
}

.page-takeaway_listing .restaurants_list .restaurant .info .status {
	font-weight: bold;
}

.page-takeaway_listing .restaurants_list .restaurant .info .status .open {
	color: #4d771e;
}

.page-takeaway_listing .restaurants_list .restaurant .info .status .close {
	color: #af210a;
}


/* ----- Restaurant Menu Page -----*/

/*
.page-takeaway_menu .breadcrumbstitle {
	height: 70px;
}

.page-takeaway_menu .breadcrumbstitle h1 {
	margin-top: 15px;
}
*/

.page-takeaway_menu .mainpanel .breadcrumbs {
	height: 30px;
	margin-top: 0;
	margin-bottom: 0;
}



/* Restaurant Information */

.page-takeaway_menu .restaurant_info {
	background-image: url(../../../resources/takeaway_menu/restaurant_info.gif);
	height: 100px;
	width: 585px;
	margin-bottom: 7px;
	overflow: hidden;
}

.page-takeaway_menu .restaurant_info .content {
	padding: 7px;
}

.page-takeaway_menu .restaurant_info .logo {
	float: left;
	width: 87px;
	height: 87px;
	display: block;
}

.page-takeaway_menu .restaurant_info .info {
	width: 477px;
	float: left;
	margin-left: 7px;
	color: #6b5949;
	text-align: justify;
}

.page-takeaway_menu .restaurant_info .address {
	float: left;
	color: #b93c1a;
}

.page-takeaway_menu .restaurant_info .status {
	float: right;
	font-weight: bold;
	color: #000000;
}

.page-takeaway_menu .restaurant_info .status .open {
	color: #4d771e;
}

.page-takeaway_menu .restaurant_info .status .close {
	color: #af210a;
}

.page-takeaway_menu .restaurant_info .description {
	margin-top: 5px;
}

/* Menu */

.page-takeaway_menu .menu {
	background-image: url(../../../resources/takeaway_menu/menu/middle.gif);
	background-repeat: repeat-y;
	width: 585px;
	color: #ffffff;
}

.page-takeaway_menu .menu-top {
	background-image: url(../../../resources/takeaway_menu/menu/top.gif);
	background-position: top center;
	background-repeat: no-repeat;
}

.page-takeaway_menu .menu-bottom {
	background-image: url(../../../resources/takeaway_menu/menu/bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.page-takeaway_menu .menu .content {
	padding: 9px;
	padding-top: 12px;
}



.page-takeaway_menu .menu_item_list {
	margin-bottom: 8px;
}

.page-takeaway_menu .menu_item_list .item {
	margin-bottom: 0;
	padding-left: 0;
	margin-left: 0;
	line-height: 1em;
	list-style-type: none;
}

.page-takeaway_menu .menu_item_list .item-a {
	background-color: #a43311;
}

.page-takeaway_menu .menu_item_list .item {
	padding: 5px;
}

.page-takeaway_menu .menu_item_list .item .no {
	width: 20px;
	float: left;
	text-align: right;
	height: 20px;
}

.page-takeaway_menu .menu_item_list .item .namedesc {
	width: 300px;
	float: left;
	margin-left: 10px;
}

.page-takeaway_menu .menu_item_list .item .namedesc .desc {
	font-size: 8pt;
}



.page-takeaway_menu .menu_item_list .item .iteminfo {
	width: 100px;
	float: left;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem {
	width: 220px;
	float: left;
	margin-left: 10px;
	line-height: 1.4em;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem .subitem_name {
	width: 110px;
	float: left;
	min-height: 1px;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem .subitem_price {
	width: 50px;
	float: left;
	text-align: right;
	margin-left: 10px;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem .additem {
	width: 13px;
	float: right;
	padding-right: 5px;
	margin-top: 4px;
}

.page-takeaway_menu .menu_item_list .item .iteminfo .subitem .additem a, .page-takeaway_menu .menu_item_list .item .iteminfo .subitem .additem img {
	display: block;
}

/* Menu - Jump To Section */

.page-takeaway_menu .jump_to_section_container {
	margin-bottom: 10px;
}

.page-takeaway_menu .jump_to_section {
	background-image: url(../../../resources/takeaway_menu/jump_section/background.gif);
	background-repeat: repeat-y;
	width: 569px;
}

.page-takeaway_menu .jump_to_section-bottom {
	background-image: url(../../../resources/takeaway_menu/jump_section/bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.page-takeaway_menu .jump_to_section .content {
	padding: 7px;
	padding-top: 15px;
}

.page-takeaway_menu .jump_to_section .title {
	float: left;
	width: 145px;
	font-size: 12pt;
	font-weight: bold;
	color: #ffffff;
	height: 30px;
	padding-left: 5px;
}

.page-takeaway_menu .jump_to_section .sections_list {
	margin-bottom: 0;
	float: left;
	width: 400px;
	margin-top: 3px;
	margin-bottom: 10px;
	font-weight: bold;
}

.page-takeaway_menu .jump_to_section .sections_list li {
	margin-bottom: 0;
	padding-left: 0;
	margin-left: 0;
	line-height: 1em;
	list-style-type: none;
	display: inline;
}


/* Right Panel */

.sidepanel {
	float: right;
	width: 293px;
}

/* Search */

.sidepanel .postcode_search {
	background-image: url(../../../resources/template/sidepanel/postcode_search/background.gif);
	width: 293px;
	height: 165px;
	position: relative;
	margin-bottom: 7px;
}



.sidepanel .postcode_search .go {
	position: absolute;
	top: 65px;
	right: 30px;
}

.sidepanel .postcode_search .info {
    bottom: 10px;
    color: #A69E94;
    display: block;
    font-size: 9pt;
    padding: 10px;
    position: absolute;
    top: 99px;
    width: 266px;
}

.sidepanel .postcode_search .label {
	position: absolute;
	top: 67px;
	left: 35px;
	font-size: 11pt;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
}

.sidepanel .postcode_search .label span {
	visibility: hidden;
}

.sidepanel .postcode_search .postcodebox {
	position: absolute;
	top: 74px;
	left: 87px;
	font-size: 16pt;
	width: 134px;
	height: 25px;
	line-height: 20px;
	border-width: 0;
	/*text-align: center;*/
}

/* Order Process */

.sidepanel .order_process {
	background-image: url(../../../resources/template/sidepanel/order_process.gif);
	height: 157px;
	margin-bottom:8px;
}

.sidepanel .order_process .info {
	padding: 10px;
}

.sidepanel .order_process .numbers {
	background-image: url(../../../resources/template/sidepanel/order_process.gif);
	float: left;
	height: 103px;
	display: block;
}



.sidepanel .order_process .process_list {
	margin-bottom: 0;
}

.sidepanel .order_process .process_list li {
	margin-bottom: 0;
	margin-left: 1.4em;
	list-style-type: decimal;
	color: #ef8908;
	font-size: 18pt;
	font-weight: bold;
	margin-top: -3px;
}

.sidepanel .order_process .process_list li span {
	font-size: 13pt;
	color: #af210a;
	font-weight: bold;
}

/* Popular Takeaways */

.sidepanel .popular_takeaways {
	background-image: url(../../../resources/template/sidepanel/popular_takeaways.gif);
	margin-bottom: 8px;
	height: 100px;
}

.sidepanel .popular_takeaways .info {
	padding: 10px;
}



.sidepanel .popular_takeaways ol li {
	list-style-type: none;
	line-height: 1.2em;
	padding-left: 0;
	margin-left: 0;
}

/* Restaurant Opening Times */

.sidepanel .restaurant_open_times {
	background-image: url(../../../resources/template/sidepanel/opening_times.gif);
	width: 293px;
	height: 193px;
	margin-bottom: 7px;
}

.sidepanel .restaurant_open_times .content {
	padding: 7px;
}



.sidepanel .restaurant_open_times .delivery_area {
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	float: right;
	width: 118px;
	text-align: right;
}

.sidepanel .restaurant_open_times .area {
	color: #b63e1b;
}

.sidepanel .restaurant_open_times .day {
	font-size: 10pt;
	padding: 1px;
}

.sidepanel .restaurant_open_times .dayname {
	color: #b2210c;
	width: 80px;
	float: left;
	padding-left: 7px;
}

.sidepanel .restaurant_open_times .time {
	color: #000000;
	width: 160px;
	float: right;
	font-size: 9pt;
}

.sidepanel .restaurant_open_times .day-a {
	background-color: #f2eadf;
}

/* Menu Basket */

.sidepanel .menu_basket {
	/*position: fixed;*/
	top: 200px;
	width: 293px;
}

.sidepanel .menu_basket {
	width: 293px;
	color: #ffffff;
	background-image: url(../../../resources/takeaway_menu/order/middle.gif);
	background-repeat: repeat-y;
}

.sidepanel .menu_basket .menu_basket-top {
	background-image: url(../../../resources/takeaway_menu/order/top.gif);
	background-position: top center;
	background-repeat: no-repeat;
}

.sidepanel .menu_basket .menu_basket-bottom {
	background-image: url(../../../resources/takeaway_menu/order/bottom.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.sidepanel .menu_basket .content {
	padding: 7px;
}


.sidepanel .menu_basket .basket .submit_order {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 141px;
	margin-bottom: 2px;
}

/* Menu Basket - Item */

.sidepanel .menu_basket .basket .noitems {
	text-align: center;
	line-height: 100px;
}

.sidepanel .menu_basket .item-min_order {
	color: #9e9e9e;
	font-style: italic;
}

.sidepanel .menu_basket .basket .item {
	padding-top: 2px;
	padding-bottom: 2px;
}

.sidepanel .menu_basket .basket .item-a {
	background-color: #56442d;
}

.sidepanel .menu_basket .basket .name {
	width: 160px;
	float: left;
	padding-left: 7px;
}

.sidepanel .menu_basket .basket .name-total {
	color: #ef8c11;
	font-weight: bold;
}

.sidepanel .menu_basket .basket .price {
	width: 50px;
	float: left;
	text-align: right;
	margin-right: 10px;
}

.sidepanel .menu_basket .basket .price-total {
	color: #ef8c11;
	font-weight: bold;
}

.sidepanel .menu_basket .basket .removebtn {
	width: 10px;
	float: left;
	padding-top: 3px;
}

.sidepanel .menu_basket .basket .removebtn img {
	display: block;
}

.sidepanel .menu_basket .basket .qty {
	width: 25px;
	float: left;
	text-align: center;
}

.sidepanel .menu_basket .basket .addbtn {
	width: 10px;
	float: left;
	padding-top: 3px;
}

.sidepanel .menu_basket .basket .addbtn img {
	display: block;
}

.sidepanel .menu_basket .basket .basket_generated {
	margin-bottom: 10px;
}

/* Menu Basket - Extra Item */

.sidepanel .menu_basket .basket .extra_items {
	margin-bottom: 10px;
}

.sidepanel .menu_basket .basket .extra_items .switch_handling {
	font-size: 8pt;
}

.sidepanel .menu_basket .basket .extra_items .switch_handling a {
	color: #ffffff;
}

/* Standard Form */

.errorcontainer {
	margin-bottom: 5px;
}

.errorcontainer .errormsg {
	margin-bottom: 2px;
	font-size: 8pt;
	background-color: #af210a;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #af210a;
	padding: 4px;
}

/*
.standardform .group .fieldtitle {
	font-weight: bold;
	color: #af210a;
	display: block;
}

.standardform .group {
	margin-bottom: 10px;
}
*/

.standardform .group {
	margin-bottom: 10px;
}

.standardform .group .fieldtitle {
	font-weight: bold;
	color: #af210a;
	display: block;
	width: 100px;
	float: left;
}

.standardform .group .fieldinput {
	width: 300px;
	float: left;
}

.standardform .group .fieldinput .inputtxt, .standardform .group .fieldinput .inputtxtarea {
	width: 150px;
}

.standardform .group .fieldinput .inputtxtarea {
	height: 60px;
}

.standardform .group .fieldinput .inputtxt-postcode {
	width: 70px;
}

.standardform .autologin {
	margin-left: 100px;
	font-weight: bold;
	color: #af210a;
}


/* Ordered List */

.maincontent ol {
	margin-bottom: 1.5em;
}

.maincontent ol li {
	margin-bottom: 0.8em;
	margin-left: 3em;
	list-style-type: decimal;
}

/* Unordered List */

.maincontent ul {
	margin-bottom: 1.5em;
}

.maincontent ul li {
	margin-bottom: 0.8em;
	padding-left: 5px;
	margin-left: 30px;
	line-height: 1.2em;
	list-style-type: square;
}



/* ----- Template ----- */

.clear {
	clear: both;
}

.wrapper {
	width: 915px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper .middle {
	background-image: url(../../../resources/template/middle.png);
	background-repeat: repeat-y;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
}

.wrapper .header {
	background-image: url(../../../resources/template/header.gif);
	height: 107px;
	position: relative;
}

.wrapper .footer {
	background-image: url(../../../resources/template/footer.png);
	height: 23px;
}

.wrapper .footer_extra {
	text-align: right;
	color: #a29483;
	font-size: 8pt;
	margin-right: 20px;
}

/* Header */

.wrapper .header .logotagline {
	height: 70px;
}

.wrapper .header .logotagline .logo {
	background-image: url(../../../resources/template/logo.gif);
	width: 165px;
	height: 54px;
	position: absolute;
	top: 8px;
	left: 24px;
	display: block;
}

.wrapper .header .logotagline .logo span {
	display: none;
}

.wrapper .header .logotagline .tagline {
	background-image: url(../../../resources/template/tagline.gif);
	width: 373px;
	height: 17px;
	position: absolute;
	right: 38px;
	top: 28px;
}

.wrapper .header .logotagline .tagline span {
	display: none;
}

/* Navigation */
.navigation {
    margin-top: 40px;	
	width:450px;
	float:right;
	
}
.wrapper .header .navigation {
	height: 37px;
	padding-left: 29px;
}

.wrapper .header .navigation ul li {
	display: inline;
	padding-right: 20px;
}

.wrapper .header .navigation a {
	color: #ffffff;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: "Tahoma", "Geneva", sans-serif;
	line-height: 34px;
}

.wrapper .header .navigation a:hover, .wrapper .header .navigation a.current {
	color: #f59b29;
}

/* Middle */

.mainpanel {
	width: 585px; /*592-7*/
	float: left;
	padding-right: 7px;
}

.wrapper .middle .sidepanel {
	float: right;
}

/* Main Content */

}

.maincontent p {
	margin-bottom: 1em;
}

.maincontent .last {
	margin-bottom: 0;
}

.mainpanel .breadcrumbs {
	color: #ada29e;
	margin-bottom: 5px;
	height: 16px;
}

.mainpanel .breadcrumbs a {
	color: #ada29e;
}

.mainpanel .breadcrumbs a:hover {
	color: #f38d08;
	text-decoration: underline;
}

/* Standard Definition List */

.maincontent dl.standardfaq dt {
	font-weight: bold;
	margin-bottom: 10px;
	/*color: #eb7112;*/
	color: #af210a;
	font-size: 11pt;
}

.maincontent dl.standardfaq dd {
	margin-bottom: 20px;
}

/* ============================================================================================================================
== BLOCKQUOTE WITH OBTUSE TRIANGLE
** ============================================================================================================================ */
.buble{
    display: inline;
    float: left;
    margin: 7px;
    width: 277px;
}
.example-obtuse {
	position:relative;
	padding:15px 30px;
	margin:0;
	color:#FFF;
	background:#b83e1a; /* default background for browsers without gradient support */
	/* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#F38D08), to(#b83e1a));
	background:-moz-linear-gradient(#F38D08, #b83e1a);
	background:-o-linear-gradient(#F38D08, #b83e1a);
	background:linear-gradient(#F38D08, #b83e1a);
	/* Using longhand to avoid inconsistencies between Safari 4 and Chrome 4 */
	-webkit-border-top-left-radius:25px 50px;
	-webkit-border-top-right-radius:25px 50px;
	-webkit-border-bottom-right-radius:25px 50px;
	-webkit-border-bottom-left-radius:25px 50px;
	-moz-border-radius:25px / 50px;
	border-radius:25px / 50px;
	/*width:180px;*/
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-obtuse + p {margin:10px 150px 2em 0; text-align:right; font-style:italic;}

/* creates the larger triangle */
.example-obtuse:before {
	content:"";
	position:absolute;
	bottom:-30px;
	right:80px;
	border-width:0 0 30px 50px;
	border-style:solid;
	border-color:transparent #b83e1a;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller triangle */
.example-obtuse:after {
	content:"";
	position:absolute;
	bottom:-30px;
	right:110px; 
	border-width:0 0 30px 20px;
	border-style:solid;
	border-color:transparent #fff;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}
