/* ----- Main Body ----- */

body, html {
	background-color: #ffffff;
}

body {
	font-family: sans-serif;
	color: #000000;
}

body, td, th {
	font-size: 9pt;
}

/* ----- Page General Styles ----- */

/*
p, li, dt {
	font-size: 77%;
}
*/

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


/* ----- Template ----- */

.wrapper {
	width: 980px;
}

.clear {
	clear: both;
}

a:link, a:visited {
	color: #193441;
}

a:hover, a:active {
	color: #000000;
}

.bodycontent {
	padding-top: 3px;
}

.header {
	background-color: #b93f1a;
	border-bottom: 1px solid #ffffff;
}

.header h1 {
	padding: 5px;
}

.header h1 a {
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}

.header h1 a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	background-color: #e24b02;
	padding: 5px;
	color: #ffffff;
}

/* Navigation */

.pagenavigation {
	background-color: #ffffff;
	height: 25px;
}

.pagenavigation a:link, .pagenavigation a:visited {
	display: block;
	float: left;
	width: 100px;
	background-color: #b93f1a;
	color: #ffffff;
	height: 25px;
	text-align: center;
	line-height: 25px;
	margin-right: 1px;
	text-decoration: none;
	font-weight: bold;
}

.pagenavigation a:hover, .pagenavigation a:active, .pagenavigation a.selected {
	text-decoration: underline;
}


/* ----- Authentication ----- */

.loginbox {
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 240px;
}

.loginbox .error {
	background-color: #ffc4c5;
	padding: 3px;
	margin-bottom: 1px;
}

.loginbox .loginboxcontent {
	padding: 10px;
	background-color: #dfe2e4;
}

.loginbox .loginboxtitle {
	font-weight: bold;
	font-size: 10pt;
	margin-bottom: 2px;
}

.loginbox .loginboxcontentinner {
	border: 1px solid #193441;
	padding: 10px;
}

.loginbox .inputxttitle {
	display: block;
}

.loginbox .inputtxt {
	display: block;
	margin-bottom: 5px;
	width: 195px;
}

.loginbox .autologin {
	margin-bottom: 5px;
}


/* ----- Main Table ----- */

.maintable {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	/*border-left: 1px solid #000000;*/
}

.maintable table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
}

.maintable table th, .maintable table td {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	padding: 5px;
}

.maintable table th {
	background-color: #e24b02;
	font-weight: bold;
	color: #ffffff;
}

.maintable .navigation {
	background-color: #ee8707;
	height: 22px;
	padding: 3px;
	border-right: 1px solid #000000;
}

.maintable .navigation:first-child {
	border-bottom-width: 0px;
}

.maintable table td {
	background-color: #fbf4ee;
}

.maintable table .norecords {
	line-height: 200px;
	text-align: center;
}

.maintable .navigation .nav-paging {
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
}

.maintable .navigation .nav-left, .maintable .navigation .nav-right {
	width: 200px;
}

.maintable .navigation .nav-left {
	float: left;
}

.maintable .navigation .nav-right {
	float: right;
	text-align: right;
}

.maintable .navigation .nav-paging .firstprev, .maintable .navigation .nextlast {
	width: 120px;
}

.maintable .navigation .nav-paging .firstprev {
	float: left;
}

.maintable .navigation .nav-paging .nextlast {
	float: right;
	text-align: right;
}

.maintable .navigation .nav-paging .currpage {
	float: left;
	width: 120px;
	line-height: 21px;
	text-align: center;
}

.maintable table .titles a {
	color: #ffffff;
	text-decoration: none;
}

.maintable .col-button {
	width: 130px;
	text-align: center;
	padding: 0px;
	padding-top: 3px;
	vertical-align: bottom;
	height: 25px;
}

.maintable .col-checkbox {
	width: 15px;
	text-align: center;
}

.maintable .errormsg {
	background-color: #fd0006;
	padding: 5px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
}

/*
.maintable-back_btn {
	margin-top: 10px;
}
*/


/* ----- Calendar ----- */

.calendar {
	margin-top: 5px;
	/* border-collapse: collapse; */
	font-family: sans-serif;
	font-size: 0.9em;
	background-color: #fef0e0;
}

.calendar a:link, .calendar a:visited {
	text-decoration: none;
	color: #000000;
}

.calendar .monthyearselection, .calendar .monthprevnextselection, .calendar .dayname, .calendar .day a:hover, .calendar .dayselected, .calendar .dayselected a {
	background-color: #ee8707;
	color: #ffffff;
}

.calendar .monthprevnextselection a:hover {
	text-decoration: underline;
}

.calendar .monthprevnextselection a {
	color: #ffffff;
}

.calendar .dayname {
	font-weight: bold;
}

.calendar .day, .calendar .dayname {
	text-align: center;
}

.calendar .day a:link, .day a:visited {
	display: block;
}

.calendar .day a:hover {
	text-decoration: underline;
}

.calendar .currentday {
	font-weight: bold;
}

.calendar td {
	border: 1px solid #c1c1c1;
}


/* ----- Error Message ----- */

.errorcontainer {
	padding-top: 1px;
}

.errorcontainer .errormsg {
	background-color: #ff0000;
	color: #ffffff;
	padding: 5px;
	margin-bottom: 1px;
	font-weight: bold;
}


/* ----- Success Message ----- */

.successcontainer {
	padding-top: 1px;
}

.successcontainer .successmsg {
	background-color: #ceffe7;
	color: #336600;
	padding: 5px;
	margin-bottom: 1px;
	font-weight: bold;
}


/* ----- Filter Panel ----- */

.page-restaurant .maintable, .page-order .maintable {
	float: left;
	width: 790px;
}

.panel_filter {
	float: right;
	width: 187px;
}

.panel_filter .panelitem {
	border: 1px solid #193441;
	background-color: #f8f8f8;/*#fbf4ee*/
	margin-bottom: 3px;
	padding: 5px;
}

.panel_filter .panelitem .title {
	font-weight: bold;
}

.panel_filter .panelitem .row {
	margin-bottom: 5px;
}

.panel_filter .panelitem .errorcontainer {
	padding-top: 1px;
}

.panel_filter .panelitem .errorcontainer .error {
	background-color: #ffc4c5;
	padding: 3px;
	margin-bottom: 1px;
	font-weight: bold;
}

.panel_filter .panelitem .inputtxt {
	width: 171px;
}

.panel_filter .panelitem .inputselect {
	width: 175px;
}

/* Date Entry */

.panel_filter .panelitem .dateentry .sep {
	width: 10px;
	text-align: center;
}

.panel_filter .panelitem .dateentry .info {
	text-align: center;
}

.panel_filter .panelitem .dateentry .date-yyyy {
	width: 40px;
}

.panel_filter .panelitem .dateentry .date-mm, .panel_filter .panelitem .dateentry .date-dd {
	width: 30px;
}

.panel_filter .panelitem .dateentry .showhide {
	margin-left: 5px;
}


/* ----- Add / Edit ----- */

.addeditpage h2 {
	margin-bottom: 1px;
}

.addeditpage .navigation {
	background-color: #ee8707;
	height: 25px;
	padding-top: 3px;
}

.addeditpage .navigation .left {
	float: left;
	padding-left: 3px;
}

.addeditpage .navigation .right {
	float: right;
	padding-right: 3px;
}

.addeditpage .required {
	color: #ff0000;
}

.addeditpage .inputtxt {
	width: 300px;
}

.addeditpage .inputtxtarea {
	width: 300px;
	height: 100px;
}

.addeditpage .tablecontainer {
	border-left: 1px solid #fcfff5;
	background-color: #fbf4ee;
}

.addeditpage .tablecontainer table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #91aa9d;
	border-right: 1px solid #fcfff5;
}

.addeditpage .tablecontainer table table {
	width: auto;
	border-top-width: 0;
	border-right-width: 0;
}

.addeditpage .tablecontainer table.addedit td.addedit, .addeditpage .tablecontainer table.addedit th.addedit {
	border-bottom: 1px solid #91aa9d;
	border-right: 1px solid #fcfff5;
	padding: 6px;
}

.addeditpage .tablecontainer table.addedit th.addedit {
	border-right: 1px solid #91aa9d;
	width: 120px;
	font-weight: bold;
	padding-left: 3px;
}

.addeditpage .errorcontainer {
	padding-top: 1px;
}

.addeditpage .errorcontainer .error {
	background-color: #ffc4c5;
	padding: 3px;
	margin-bottom: 1px;
	font-weight: bold;
}

.addeditpage .dateentry .info, .addeditpage .dateentry .sep {
	text-align: center;
}
.addeditpage .dateentry .sep {
	width: 12px;
}

.addeditpage .dateentry .showhide {
	margin-left: 10px;
}

.addeditpage .dateentry .date-dd, .addeditpage .dateentry .date-mm {
	width: 35px;
}

.addeditpage .dateentry .date-yyyy {
	width: 50px;
}


/* ----- Page - Add/Edit Restaurant ----- */

.page-restaurant_addedit .addeditpage .inputtxt-small {
	width: 100px;
}

.page-restaurant_addedit .addeditpage .note {
	font-size: 8pt;
}


/* ----- Page - Restaurant ----- */

.page-restaurant .col-address_1 {
	width: 120px;
}

.page-restaurant .col-town {
	width: 100px;
}

.page-restaurant .col-city {
	width: 100px;
}

.page-restaurant .col-added {
	width: 130px;
}

.page-restaurant .col-button {
	width: 400px;
}


/* ----- Page - Cities ----- */

.page-city .col-no_towns {
	width: 80px;
}

.page-city .col-button {
	width: 130px;
}


/* ----- Page - Towns ----- */

.page-town .col-city {
	width: 200px;
}

.page-town .col-no_restaurants {
	width: 120px;
}

.page-town .col-button {
	width: 130px;
}


/* ----- Page - Users ----- */

.page-user .col-email {
	width: 270px;
}

.page-user .col-telephone {
	width: 130px;
}

.page-user .col-usergroup_name {
	width: 120px;
}


/* ----- Page - Menu Categories ----- */

.page-menu_category .col-button_move {
	width: 115px;
	text-align: center;
}

.page-menu_category .col-button {
	width: 200px;
}


/* ----- Page - Menu Items ----- */

.page-menu_item .col-no {
	width: 40px;
}

.page-menu_item .col-description {
	width: 400px;
}

.page-menu_item .col-cost {
	width: 60px;
}

.page-menu_item .col-button {
	width: 130px;
}


/* ----- Page - Restaurant Add / Edit ----- */

.page-restaurant_addedit .openingtimes .col-dayname {
	width: 90px;
}

.page-restaurant_addedit .openingtimes .col-spacer {
	width: 10px;
	text-align: center;
}

.page-restaurant_addedit .openingtimes .col-time .timefield {
	width: 50px;
}

.page-restaurant_addedit .openingtimes td {
	padding: 1px;
}


/* ----- Page - Menu Item Add / Edit ----- */

.page-menu_item_addedit .subitems {
	margin-bottom: 5px;
}

.page-menu_item_addedit .subitems .col-subitemname {
	padding-right: 10px;
}

.page-menu_item_addedit .subitems .col-subitemnamefield {
	padding-right: 10px;
}

.page-menu_item_addedit .subitems .col-subitemnamefield input {
	width: 170px;
}

.page-menu_item_addedit .subitems .col-subitemcost {
	padding-right: 10px;
}

.page-menu_item_addedit .subitems .col-subitemcostfield {
	padding-right: 10px;
}

.page-menu_item_addedit .subitems .col-subitemcostfield input {
	width: 60px;
}

.page-menu_item_addedit .subitems td {
	padding: 1px;
}


/* ----- Page - User Add / Edit ----- */

.page-user_addedit .restaurants {
	margin-bottom: 5px;
}

.page-user_addedit .restaurants .col-restaurantname {
	padding-right: 10px;
}

.page-user_addedit .restaurants .col-restaurantnamefield {
	padding-right: 10px;
}

.page-user_addedit .restaurants .col-restaurantnamefield input {
	width: 170px;
}

.page-user_addedit .restaurants td {
	padding: 1px;
}


/* ----- Page - Order ----- */

.page-order .col-restaurant_name {
	width: 200px;
}

.page-order .col-total {
	width: 110px;
}

.page-order .col-added {
	width: 130px;
}
